@keyframes animatedBackground {
  from {
    background-position: 0 0;
  } to {
    background-position: 100% 0;
  }
}

body {
  overflow-x: hidden;
  margin: 0;
  user-select: none;
}

#game-screen {
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  position: relative;
  height: 288px;
  width: 600px;
  background-image: url(./assets/background-img.png);
  background-position: 0px 0px;
  animation: animatedBackground 8000ms linear infinite;
}

.obstacle {
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 48px;
}

.ufo{
  line-height: 40%;
  letter-spacing: 0em;
}

#header {
  position: absolute;
  right: 0;
  height: 70px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P', monospace;
  gap: 18px
}

#message{
  font-size: 10px;
}

#game-over{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 288px;
  width: 600px;
  font-family: 'Press Start 2P', monospace;
  font-size: 18px;
}

#restart{
  font-size: 10px;
}

#user-score, #high-score {
  font-size: 13px;
}

#dino{
  height: 42px;
  position: absolute;
  bottom: 75px;
  left: 30px;
}

#error{
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  line-height: 2em;
  margin: 25px;
  text-align: justify;
  font-family: 'Press Start 2P', monospace;
}
