body {
  overflow-x: hidden;
  margin: 0;
  user-select: none;
}

#game-screen {
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  position: relative;
  height: 388px;
  width: 700px;
  background-color: gray;
}

#character {
  position: absolute;
  display: inline-block;
  font-size: 48px;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);

  bottom: 70px;
  left: 30px;
  border: 1px solid black;
  line-height: 100%;
}

.obstacle {
  position: absolute;
  font-size: 48px;
  margin: 0;
  padding: 0;
  border: 1px solid black;

  /* Since there is a some amount of spacing around letters, the lines below are intended to remove all of the excess spacing */
  line-height: 100%;
  margin-left: -0.5em;
  letter-spacing: -0.1em;
  text-align: center;
  text-indent: -0.1em;
}

.ufo{
  line-height: 60%;
}

#header {
  position:absolute;
  right: 0;
  height: 70px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  gap: 18px
}

#message{
  font-size: 10px;
}





/* font-family: 'Press Start 2P', cursive; */
