body{
  overflow-x: hidden;
  margin: 0;
}

#game-screen{
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  position: relative;
  height: 388px;
  width: 700px;
  background-color: gray;
}

#character{
  position: absolute;
  display: inline-block;
  font-size: 48px;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);

  bottom: 70px;
  left: 30px;
}

.obstacle{
  position: absolute;
  font-size: 48px;
  margin: 0;
  padding: 0;
}

#score {
  position: absolute;
  width: 250px;
  height: 80px;
  right: 0;
  top: 0;
}

#score>div {
  position: absolute;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Press Start 2P', cursive;
}
